<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Completa tu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <ion-text>
      <h3>¡Bienvenido a Blockia!</h3>
    </ion-text>
    <p>Solo necesitamos unos datos más para activar tu cuenta.</p>

    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre Completo</ion-label>
        <ion-input type="text" [(ngModel)]="nombreCompleto" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Patente del Vehículo (Ej: ABCD12)</ion-label>
        <ion-input type="text" [(ngModel)]="patente" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Condominio</ion-label>
        <ion-select [(ngModel)]="condominioIdSeleccionado" placeholder="Selecciona uno" required>
          <ion-select-option *ngFor="let condo of condominios" [value]="condo.id">
            {{ condo.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="ion-margin-top" (click)="guardarPerfil()" [disabled]="!nombreCompleto || !patente || !condominioIdSeleccionado">
      Guardar y Continuar
    </ion-button>
  </div>
</ion-content>