rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // ==========================================
    // 🔓 TODO EL PROYECTO ABIERTO
    // ==========================================
    match /{document=**} {
      allow read, write: if true;
    }

  }
}
