.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%; /* Ajusta según sea necesario */
  color: var(--ion-color-medium);
  ion-icon {
    font-size: 4rem; /* Icono más grande */
    margin-bottom: 1rem;
  }
}