<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBLgTAxOMpAUh0oKmTm3wiUbhb7Eu1j1c</string>
	<key>GCM_SENDER_ID</key>
	<string>930450802029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>block.ia</string>
	<key>PROJECT_ID</key>
	<string>device-streaming-5a92a11d</string>
	<key>STORAGE_BUCKET</key>
	<string>device-streaming-5a92a11d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930450802029:ios:e96bac963a745bf8f78664</string>
</dict>
</plist>